# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.se-498.iml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# IDE files
.idea/
bin/
obj/
.env
.claude/tsc-cache/3da3912c-ffbc-442c-b5d6-e3daa48a3396/affected-repos.txt
.claude/tsc-cache/3da3912c-ffbc-442c-b5d6-e3daa48a3396/affected-repos.txt
/.claude
.claude/tsc-cache/3da3912c-ffbc-442c-b5d6-e3daa48a3396/affected-repos.txt
.claude/tsc-cache/3da3912c-ffbc-442c-b5d6-e3daa48a3396/edited-files.log
.claude/tsc-cache/3da3912c-ffbc-442c-b5d6-e3daa48a3396/affected-repos.txt
.claude/tsc-cache/3da3912c-ffbc-442c-b5d6-e3daa48a3396/edited-files.log
