# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.se-498.iml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# IDE files
.idea/
bin/
obj/
.user
.env
.claude/tsc-cache/e28694ba-252d-4a0d-ac16-2a2095a69a3c/affected-repos.txt
.claude/tsc-cache/e28694ba-252d-4a0d-ac16-2a2095a69a3c/edited-files.log
